<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Calculatrice de grossesse</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <div>
      <h1>Calcul du nombre de jours d'aménorrhée</h1>
      <form>
        <div>
          <label for="last-period-date">Date des dernières règles:</label>
          <input type="date" id="last-period-date" v-model="lastPeriodDate">
        </div>
        <div>
          <label for="conception-date">Date de conception:</label>
          <input type="date" id="conception-date" v-model="conceptionDate">
        </div>
        <button type="button" @click="calculate">Calculer</button>
      </form>
      <div v-if="showResults">
        <p>Nombre de jours d'aménorrhée: {{ AndurationInDays }}</p>
      </div>
    </div>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        lastPeriodDate: '',
        conceptionDate: '',
        showResults: false,
        AndurationInDays: null,
      },

      methods: {
        calculate() {
          const today = new Date();
          const startDate = this.lastPeriodDate ? new Date(this.lastPeriodDate) : new Date(this.conceptionDate);
          const durationInMs = today - startDate;
          this.AndurationInDays = Math.floor(durationInMs / 1000 / 60 / 60 / 24);
          this.showResults = true;
        }
      },
    });
  </script>
</body>
</html>
